/* 
Colors:

White: #ffffff
Tinted White: #faf8f6
Yellow: #FDFFE2
Light Blue: #83B4FF
Blue: #5A72A0
Dark: #1A2130
Tinted Black: #0d0d0d 
Black: #000000
*/

.app {
  background-image: url("../src/Assets/bg2.svg");
  background-size: 120%;
  background-position: center;
  box-sizing: border-box;
  text-align: center;
}
