.profilePage {
  height: 87vh;
  display: flex;
  padding-top: 3rem;
  align-items: center;
  justify-content: space-around;
  color: black;
}

#dp {
  width: 120px;
  margin: 2rem;
  padding: 0.8rem;
  background-color: #fff;
  border-radius: 50%;
}
